@import "tailwindcss";

.neon-text {
  animation: neon 1.5s ease-in-out infinite alternate;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fecdd3;
}

::-webkit-scrollbar-thumb {
  background: #f43f5e;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e11d48;
}